@import '../../global.color.scss';

.dropdownList {
  display: flex;
  flex-direction: column;
  width: 100%;

  span {
    font-size: small;
  }

  select {
    padding: 5px;
    margin-top: 5px;
    width: 100%;
  }
}
