@import '../../global.color.scss';

.adTableContainer {
  width: 100%;
  margin: 19px 0px;
  background-color: $white;

  table {
    width: 100%;

    tr {
      th {
        padding: 11px;
        text-align: start;
        font-size: smaller;
      }
      td {
        padding: 11px;
        font-size: small;
      }
    }
  }

  .trWhite {
    background-color: $white;
  }

  .trGrey {
    background-color: #E5E7EB;
  }

  .statusActiveCell {
    background: #bfdbfe;
    border-radius: 4px;
    color: #1d4ed8;
    padding: 6px 8px;
    font-weight: bold;
  }

  .statusInactiveCell {
    background: #fecaca;
    border-radius: 4px;
    color: #b91c1c;
    padding: 6px 8px;
    font-weight: bold;
  }

  .statusHActiveCell {
    background: #a7f3d0;
    color: #047857;
    border-radius: 4px;
    padding: 6px 8px;
    font-weight: bold;
  }

  .revenueActiveCell {
    font-weight: bold;
    color: #3B82F6;
  }

  .revenueInactiveCell {
    color: #F87171;
    font-weight: bold;
  }

  .revenueHActiveCell {
    font-weight: bold;
    color: #10B981;
  }
}
